<div class='translationview' layout="column" layout-fill ng-class="{'flip': showTranslation}">
	<div class='flipper' flex layout='row' layout-fill>
		<div class='word' flex layout='column' layout-align='center center' ng-click='showTranslation=true'>
			{{word.english}}
		</div>
		<div class='translation' flex layout='column' layout-align='center center'>
			<div>{{word.german.join(', ')}}</div>
			<div class='buttons' layout='row'>
				<md-button class="md-icon-button" aria-label="check" ng-click='next()'>
					<md-icon md-svg-src="ic_check_black_48px.svg" class="s24" aria-label="check"></md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="cross" ng-click='next()'>
					<md-icon md-svg-src="ic_close_black_48px.svg" class="s24" aria-label="cross"></md-icon>
				</md-button>
			</div>
		</div>
	</div>
</div>